<body>
    <div class="bg-info contact4 overflow-hiddedn position-relative">
        <div class="row no-gutters">
            <div class="container">
                <div class="col-lg-6 contact-box mb-4 mb-md-0">
                    <div class="">
                        <h1 class="title font-weight-light text-white mt-2" i18n>Forgot Password</h1>
                        <form class="mt-3" [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group mt-2">
                                        <input class="form-control text-white" type="text" formControlName="username"
                                            placeholder="Username" required>
                                        <div *ngIf="submitted && username.invalid" class="alert alert-danger">

                                            <div *ngIf="username.errors.required" i18n>
                                                Username is required.
                                            </div>
                                        </div>
                                        <div *ngIf="submitted && !exist" class="alert alert-danger">
                                            <div i18n>
                                                Username doesn't exist.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn bg-white text-inverse px-3 py-2"><span i18n>
                                    Submit</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>