@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~alertifyjs/build/css/themes/bootstrap.min.css";
@import "~alertifyjs/build/css/alertify.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cdk-overlay-container, .cdk-overlay-pane {
    z-index: 9999 !important;
}