<body>
    <div class="bg-info contact4 overflow-hiddedn position-relative">
        <div class="row no-gutters">
            <div class="container">
                <div class="col-lg-6 contact-box mb-4 mb-md-0">
                    <div class="">
                        <h1 class="title font-weight-light text-white mt-2" i18n>Forgot Password</h1>
                        <form class="mt-3" [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group mt-2">
                                        <input class="form-control text-white" type="password"
                                            formControlName="password" placeholder="Password" required>
                                        <div *ngIf="password.invalid && submitted" class="alert alert-danger">

                                            <div *ngIf="password.errors.required" i18n>
                                                Password is required.
                                            </div>
                                            <div *ngIf="password.errors.minlength" i18n>
                                                Password must be at least 6 characters long.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group mt-2">
                                        <input class="form-control text-white" type="password"
                                            formControlName="re_password" placeholder="Confirm Password" required>
                                        <div *ngIf="re_password.invalid && submitted" class="alert alert-danger">

                                            <div *ngIf="re_password.errors.required" i18n>
                                                Password Confirmation is required.
                                            </div>
                                            <div *ngIf="re_password.errors.minlength" i18n>
                                                Password must be at least 6 characters long.
                                            </div>
                                        </div>
                                        <div *ngIf="!confirm && submitted" class="alert alert-danger">
                                            <div i18n>
                                                Passwords must match
                                            </div>
                                        </div>
                                        <div *ngIf="confirm && submitted">
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn bg-white text-inverse px-3 py-2"><span i18n>
                                    Submit</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>